
<div class="card">
  
  {{#if worker_id}}
  <div class="card-header 
      {{#if (eq status "assigned")}}
        bg-success-subtle
      {{/if}}
      {{#if (eq status "outnotin")}}
        bg-primary-subtle
      {{/if}}
      {{#if (eq status "started")}}
        bg-warning-subtle
      {{/if}}
      {{#if (eq status "signedout")}}
        bg-danger-subtle
      {{/if}}
  "> 
    <div class="d-flex justify-content-between">
      <div>Assigned to: {{worker_name}}</div>
      {{#if (eq status "assigned")}}
        <div>📌</div>
      {{/if}}
      {{#if (eq status "outnotin")}}
        <div>🤔</div>
      {{/if}}
      {{#if (eq status "started")}}
        <div>⏳</div>
      {{/if}}
      {{#if (eq status "signedout")}}
        <div>✔️</div>
      {{/if}}
    </div>
  </div>
  {{else}}
    <div class="card-header text-danger">WARNING: THIS JOB ({{job_name}}) IS NOT ASSIGNED TO ANY WORKER</div>
  {{/if}}

  <div class="card-body">

    <div class="row">
      <div class="col-12 col-sm-6">
        <div class="row">
          <div class="col-auto">
            <h5 class="card-title">{{job_name}}</h5>
            {{address}}
          </div>
          <div class="col">
            <p class="text-end">{{work_order}} <br> {{service_code}}</p>
          </div>
        </div>
        <p class="card-text  mb-3"> {{date}}</p>

          <div class="d-none d-sm-block ">
           {{#if worker_id}}
              <a href="/checkinout?id={{job_id}}&worker={{worker_id}}" class="btn btn-outline-primary">Open</a>
                {{#if admin}}
                    <a href="/jobedit?id={{job_id}}" class="btn btn-outline-secondary">Edit</a>
                {{/if}}
            {{else}}
                {{#if admin}}
                    <a href="/jobedit?id={{job_id}}" class="btn btn-outline-secondary">Edit</a>
                {{/if}}
            {{/if}}

        </div>

      </div>
      <div class="col-12 col-sm-6">
        <div class="card mb-3">
          <div class="card-header">Notes</div>
          <div class="card-body">
            <p class="card-text">{{notes}}</p>
          </div>
        </div>
        <div class="d-sm-none">
           {{#if worker_id}}
              <a href="/checkinout?id={{job_id}}&worker={{worker_id}}" class="btn btn-outline-primary">Open</a>
                {{#if admin}}
                    <a href="/jobedit?id={{job_id}}" class="btn btn-outline-secondary">Edit</a>
                {{/if}}
            {{else}}
                {{#if admin}}
                    <a href="/jobedit?id={{job_id}}" class="btn btn-outline-secondary">Edit</a>
                {{/if}}
            {{/if}}
      </div>
      </div>
    </div>



  </div>
</div>
