{{#*inline "body"}}

{{!-- @(title: &str, admin: bool, job_id: i64, worker_id: i64, work_order: &str, service_code: &str, site_name: &str, address: &str, date: String, signin: &str, signout: &str, miles: f32, hours: f32, minutes: f32, extra_exp_ct: i32, notes: &str, jobnotes: &str) --}}



    <div id="cio" class="container">
      <h1 class="text-center ">Time Sheet</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Site Name</th>
            <th>Address</th>
            <th>Job Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{site_name}}</td>
            <td class="fs-5">{{address}}</td>
            <td>{{date}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table">
        <thead>
          <tr>
            <th>Work Order</th>
            <th>Service Code</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="fs-5" >{{work_order}}</td>
            <td class="fs-5" >{{service_code}}</td>
          </tr>
        </tbody>
      </table>
      <form id="checkinoutform" hx-post="/api/v1/checkinout" hx-target="#cio" hx-select="#cio"  hx-trigger="change delay:500ms"  >

        <div class="row d-md-none text-center" style="margin: 0">
          <div class="col">
            <label for="SigninInput" class="form-label">Sign-in time</label>
          </div>
          <div class="col">
            <label for="SignoutInput" class="form-label">Sign-out time</label>
          </div>
        </div>
    
        <div class="input-group px-3 mb-3">
          <span class="input-group-text d-none d-md-block">Sign-in time</span>
          {{!-- <input 
            name="Signin"
            type="time"
            class="form-control"
            id="SigninInput"
            value="{{signin}}"
          />
          <input 
            name="Signout"
            type="time"
            class="form-control"
            id="SignoutInput"
            value="{{signout}}"

          /> --}}

          <input 
            name="Signin"
            id="SigninInput"
            class="form-control"
            type="time"
          />

          <input 
            name="Signout"
            id="SignoutInput"
            class="form-control"
            type="time"
          />

          <span class="input-group-text d-none d-md-block">Sign-out time</span>
        </div>

      <div class="input-group px-3 mb-3">
        <span class="input-group-text">Miles Driven</span>
        <label for="MilesDriven" class="form-label d-none">Miles Driven</label>
        <input required
        name="MilesDriven"
        type="number"
        class="form-control"
        id="MilesDriven"
        placeholder="0"
        value="{{miles}}"
        step="0.01"
        min="0"
        onchange="setTwoNumberDecimal()"
      />
      </div>

        <div class="row d-md-none text-center" style="margin: 0">
          <div class="col">
            <label for="HoursDriven" class="form-label">Hours Driven</label>
          </div>
          <div class="col">
            <label for="MinutesDriven" class="form-label">Minutes Driven</label>
          </div>
        </div>
    
        <div class="input-group px-3 mb-3">
          <span class="input-group-text d-none d-md-block">Hours Driven</span>
          <input required
            name="HoursDriven"
            type="number"
            class="form-control"
            id="HoursDriven"
            placeholder="0"
            value="{{hours}}"
            step="0.01"
            min="0"
            onchange="setTwoNumberDecimal()"
          />
          <input required
            name="MinutesDriven"
            type="number"
            class="form-control"
            id="MinutesDriven"
            placeholder="0"
            value="{{minutes}}"
            step="0.01"
            min="0"
            onchange="setTwoNumberDecimal()"
          />
          <span class="input-group-text d-none d-md-block">Minutes Driven</span>
        </div>



        <div class="input-group px-3 mb-3">
          <span class="input-group-text">Extra expenses $</span>
          <label for="ExtraExpenses" class="form-label d-none">Extra expenses $</label>
          <input required
            name="ExtraExpenses"
            type="number"
            class="form-control"
            id="ExtraExpenses"
            min="0" step="0.01"
            placeholder="0.00"
            value="{{extra_exp_ct}}"
            onchange="setTwoNumberDecimal()"
          />
        </div>


        <div class="input-group px-3 mb-3">
          <span class="input-group-text">Field Notes</span>
          <label for="notes" class="form-label d-none">Field Notes</label>
          <textarea name="Notes" class="form-control" id="notes" rows="4" style="resize:none;" form="checkinoutform">{{notes}}</textarea>
        </div>

        <div class="input-group px-3 mb-3">
          <span class="input-group-text">Job Notes</span>
          <label for="jobnotes" class="form-label d-none">Job Notes</label>
          <textarea disabled="disabled" class="form-control" id="jobnotes" rows="4" style="resize:none;">{{jobnotes}}</textarea>
        </div>

        

        <input type="hidden" id="JobId" name="JobId" value="{{job_id}}">


        <input type="hidden" id="WorkerId" name="WorkerId" value="{{worker_id}}">



        {{!-- <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg mt-4 mb-4">Submit</button>
        </div> --}}

      </form>
        <script>

      var signin_instance = flatpickr("#SigninInput", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            minuteIncrement: 1,
            defaultDate: "{{signin}}",
      });

      var signout_instance = flatpickr("#SignoutInput", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i",
            minuteIncrement: 1,
            defaultDate: "{{signout}}",
      });

      document.getElementById("SigninInput").setAttribute("type", "time");
      document.getElementById("SignoutInput").setAttribute("type", "time");

      document.addEventListener('htmx:afterRequest', function(evt) {
        signin_instance.close();
        signout_instance.close();
      });


      var extraexpct = document.getElementById("ExtraExpenses");
      extraexpct.value = parseFloat(parseFloat(extraexpct.value).toFixed(2));
      

      var HoursDriven = document.getElementById("HoursDriven");
      HoursDriven.value = parseFloat(parseFloat(HoursDriven.value).toFixed(2));

      var MinutesDriven = document.getElementById("MinutesDriven");
      MinutesDriven.value = parseFloat(parseFloat(MinutesDriven.value).toFixed(2));

      var MilesDriven = document.getElementById("MilesDriven");
      MilesDriven.value = parseFloat(parseFloat(MilesDriven.value).toFixed(2));

      
    function setTwoNumberDecimal(event) {
      var extraexpct = document.getElementById("ExtraExpenses");
      extraexpct.value = parseFloat(parseFloat(extraexpct.value).toFixed(2));
      

      var HoursDriven = document.getElementById("HoursDriven");
      HoursDriven.value = parseFloat(parseFloat(HoursDriven.value).toFixed(2));

      var MinutesDriven = document.getElementById("MinutesDriven");
      MinutesDriven.value = parseFloat(parseFloat(MinutesDriven.value).toFixed(2));

      var MilesDriven = document.getElementById("MilesDriven");
      MilesDriven.value = parseFloat(parseFloat(MilesDriven.value).toFixed(2));

  }
  </script>
    </div>

{{/inline}}
{{> base.hbs}}