{{!-- @use super::base_html; @use crate::Job; @use super::list_html; @(title: &str, admin: bool, job: Option<Job>, list-data: &[(i64, String, bool, bool)]) @:base_html(title, admin, true,  { --}}
{{#*inline "body"}}



    
<div id="wholething">
{{!-- up here because html  --}}
  {{#if job}}
<form action="/admin/api/v1/delete-job" id="deleter" method="post">
<input type="hidden" name="jobid" id="jobid" value="{{job.id}}">
</form>
{{/if}} 



  <form id="editform" method="post" hx-post="/admin/api/v1/edit-job" hx-target="#wholething" hx-select="#wholething"  hx-trigger="change delay:500ms"> 

  {{#if job}}
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Deleting job</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this job? <br>
        No data related to this job will appear in the generated reports.
      </div>
      <div class="modal-footer">

          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
          <input type="submit" form="deleter"  class="btn btn-danger" value="Delete">
      </div>
    </div>
  </div>
</div>

{{/if}} 
  
   <h1 class="text-center ">
    {{#if job}} Editing job {{job.id}} {{else}} Create a new job {{/if}}
  </h1>
    <div class="input-group px-3 mb-3">
      <span class="input-group-text">Site name</span>
      <label for="SiteNameInput" class="form-label d-none">Site name</label>
      <input required
        form="editform"
        name="sitename"
        type="text"
        class="form-control"
        id="SiteNameInput"
        {{#if job}} value = "{{job.sitename}}" {{/if}}
      />
    </div>

    <div class="row d-sm-none text-center" style="margin: 0">
      <div class="col">
        <label for="ServcodeInput" class="form-label">Service code</label>
      </div>
      <div class="col">
        <label for="WorkorderInput" class="form-label">Work order</label>
      </div>
    </div>

    <div class="input-group px-3 mb-3">
      <span class="input-group-text d-none d-sm-block">Service code</span>
      <input
        form="editform"
        name="servcode"
        type="text"
        class="form-control"
        id="ServcodeInput"
                {{#if job}} value = "{{job.servicecode}}" {{/if}}
      />
      <input
        form="editform"
        name="workorder"
        type="text"
        class="form-control"
        id="WorkorderInput"
        {{#if job}} value = "{{job.workorder}}" {{/if}}

      />
      <span class="input-group-text d-none d-sm-block">Work order</span>
    </div>

    <div class="input-group px-3 mb-3">
      <span class="input-group-text">Address</span>
      <label for="AddressInput" class="form-label d-none">Address</label>
      <input
        form="editform"
        name="address"
        type="text"
        class="form-control"
        id="AddressInput"
        {{#if job}} value = "{{job.address}}" {{/if}}

      />
    </div>

    <div class="input-group px-3 mb-3">
      <span class="input-group-text">Date</span>
      <label for="DateInput" class="form-label d-none">Date</label>
      <input required form="editform" name="date" type="date" class="form-control" id="DateInput" 
        {{#if job}} value = "{{job.date}}" {{/if}}
      />
    </div>

    <div
      class="px-3 mb-3"
      style="max-height: 15em; overflow-x: hidden; overflow-y: auto"
    >
     
        <ul class="list-group"> {{#each ../list-data as |item|}}
            <li class="list-group-item d-flex justify-content-between align-items-center row" style="margin: 0;">
                <div class="col-sm align-middle">
                    <h6 class="align-middle display-6">
                        {{item.[1]}}

                    </h6>
                </div>
                <ul class="list-group list-group-horizontal col-sm justify-content-end">
                    <li class="list-group-item"><input type="checkbox" name="" id="{{item.[0]}}-assigned" class=" ms-auto form-check-input" {{#if item.[2]}} checked {{/if}}>
                        <label for="{{item.[0]}}-assigned" class=" form-check-label">assigned</label>    
                    </li>
                    <li class="list-group-item">
                        <input type="checkbox" name="" id="{{item.[0]}}-flatrate" class=" form-check-input" {{#if item.[3]}} checked {{/if}}>
                        <label for="{{item.[0]}}-flatrate" class=" form-check-label">flat rate</label>
                    </li>
                </ul>
            </li>
        {{/each}}
        </ul>

    </div>

    <div class="input-group px-3 mb-3">
      <span class="input-group-text">Job Notes</span>
      <label for="notes" class="form-label d-none">Job Notes</label>
      <textarea form="editform" name="notes" class="form-control" id="notes" rows="4" style="resize:none;">{{#if job}}{{job.notes}}{{/if}}</textarea>
    </div>


    <input type="hidden" form="editform" id="assigned" name="assigned" value=" ">
    <input type="hidden" form="editform" id="flatrate" name="flatrate" value=" ">
    {{#if job}} 

    <input type="hidden" form="editform" id="jobid" name="jobid" value="{{job.id}}">

    {{/if}}

    <div class="text-center">
       {{#if job}} 
          <a href="" class="btn btn-outline-danger btn-lg mt-4 mb-4" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</a>
        {{/if}}

    </div>
<script>
    var assigned = [];
    var flatrate = [];
    {{#each list-data as |item|}}
        
    
        {{#if item.[2]}}
            assigned.push("{{item.[0]}}");
        {{/if}} 
        {{#if item.[3]}}
            flatrate.push("{{item.[0]}}");
        {{/if}}


        if (assigned.length > 0) {
            document.getElementById("assigned").value = assigned.join("-");
        } else {
            document.getElementById("assigned").value = "";
        }

        if (flatrate.length > 0) {
            document.getElementById("flatrate").value = flatrate.join("-");
        } else {
            document.getElementById("flatrate").value = "";
        }


        document.getElementById("{{item.[0]}}-assigned").addEventListener("change", function(evt){
            var cbAssigned = evt.target;
            if (!assigned.includes("{{item.[0]}}")) {
                if (cbAssigned.checked) {
                    assigned.push("{{item.[0]}}"); 
                }
            } else {
                if (!cbAssigned.checked) {
                    assigned = assigned.filter(x => x !== "{{item.[0]}}");
                    flatrate = flatrate.filter(x => x !== "{{item.[0]}}");
                    document.getElementById("{{item.[0]}}-flatrate").checked = false;
                }
            }

            assigned.sort();
            if (assigned.length > 0) {
                document.getElementById("assigned").value = assigned.join("-");
            } else {
                document.getElementById("assigned").value = "";
            }
        })

        document.getElementById("{{item.[0]}}-flatrate").addEventListener("change", function(evt){
            var cbFlatrate = evt.target;
            if (!assigned.includes("{{item.[0]}}")) {
                cbFlatrate.checked = false;
            } else {
            if (!flatrate.includes("{{item.[0]}}")) {
                if (cbFlatrate.checked) {
                    flatrate.push("{{item.[0]}}"); 
                }
            } else {
                if (!cbFlatrate.checked) {
                    flatrate = flatrate.filter(x => x !== "{{item.[0]}}");
                }
            }

            flatrate.sort();
            if (flatrate.length > 0) {
                document.getElementById("flatrate").value = flatrate.join("-");
            } else {
            document.getElementById("flatrate").value = "";
            }
            }

        })
    
    {{/each}}
</script>
  </form>
</div>



{{/inline}}
{{> base.hbs}}