{{!-- @use super::userselect_html; @(title: &str, admin: bool, logged_in: bool, selected:Option<i64>, workerlist: &[Worker], selectlist: &[(i64, &str)], entries: Option<Vec<WDEntry>>, totals: WDEntry, from: String, to: String) @:base_html(title, admin,  true, { @if !admin { --}}

{{#*inline "body"}}

  <div id="worker-data" class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-4 pb-4">
      {{> userselect.hbs array=selectlist selected=selected target=target start_date=from end_date=to}}
    </div>
    <div class="col col-md-8">
      {{#if selected}}
        
          

          <div id="card" class="card">
            <div class="card-header">
              <form id="RangeForm" hx-swap="outerHTML" hx-get="/admin/worker-data" hx-target="#worker-data" hx-select="#worker-data"  hx-trigger="change delay:500ms" hx-push-url="true" class="form-inline row">
                <div class="col">
                  From
                  <input form="RangeForm" type="date" class="form-control mx-2" id="start_date" name="start_date"  value="{{from}}"/>
                </div>
                <div class="col">
                  To
                  <input form="RangeForm" type="date" class="form-control mx-2" id="end_date" name="end_date"  value="{{to}}" />
                </div>

                  <input form="RangeForm" type="hidden" name="worker" id="worker" value="{{selected}}">
  
              </form>
            </div>
            
            <div class="card-body overflow-scroll">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Date </th>
                    <th>Location</th>
                    <th>Flat rate?</th>
                    <th>Hours worked</th>
                    <th>Hours driven</th>
                    <th>Miles driven</th>
                    <th>Extra expenses</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each entries as |entry|}}
                    
                      <tr class="position-relative {{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">
                        <td class="{{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">{{entry.Date}} </td>
                        {{!--  href="/checkinout?id={{entry.JobId}}&worker={{entry.WorkerId}}" --}}
                        <td class="{{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">
                        <a tabindex="0" 
                        class="{{#if entry.Completed}} {{else}} link-dark {{/if}}"
                        role="button" 
                        data-bs-toggle="popover" 
                        data-bs-trigger="focus" 
                        data-bs-html="true"
                        data-bs-content="
                        <a href='/checkinout?id={{entry.JobId}}&worker={{entry.WorkerId}}' class='btn btn-primary'> Open</a>
                        <a href='/jobedit?id={{entry.JobId}}' class='btn btn-secondary'> Edit</a>"
                        
                        >{{entry.Location}}
                        
                        </a></td>
                        <td class="{{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">{{#if entry.FlatRate}} ✅ {{/if}}</td>
                        <td class="{{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">{{entry.HoursWorked}}</td>
                        <td class="{{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">{{entry.HoursDriven}}</td>
                        <td class="{{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">{{entry.MilesDriven}}</td>
                        <td class="{{#if entry.Completed}} {{else}} bg-danger text-black {{/if}}">${{entry.ExtraExpCents}}</td>
                      </tr>

                  {{/each}}

                  
                </tbody>
                <tfoot>
                  <tr class="table-group-divider {{#if totals.Completed}} {{else}} bg-danger text-black {{/if}}" >
                    {{#if totals.Completed}} <td colspan="3"><b>  Totals ({{num_jobs}} jobs) 
                      
                    <td>{{totals.HoursWorked}}</td>
                    <td>{{totals.HoursDriven}}</td>
                    <td>{{totals.MilesDriven}}</td>
                    <td>${{totals.ExtraExpCents}}</td>
                      
                      
                      {{else}} <td colspan="7"><b> Incomplete jobs! {{/if}}  </b>  </td>
                    
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        
      {{/if}}
        
      
    </div>
  </div>

{{/inline}}
{{> base.hbs}}