{{!-- @use super::userselect_html; @(title: &str, admin: bool, logged_in: bool, selected:Option<i64>, workerlist: &[Worker], selectlist: &[(i64, &str)], entries: Option<Vec<WDEntry>>, totals: WDEntry, from: String, to: String) @:base_html(title, admin,  true, { @if !admin { --}}

{{#*inline "body"}}

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col col-md-4 pb-4">
      {{> userselect.hbs array=selectlist selected=selected target=target}}
    </div>
    <div class="col col-md-8">
      {{#if selected}}
        
          

          <div class="card">
            <div class="card-header">
              <form id="RangeForm" action="/admin/worker-data" class="form-inline row">
                <div class="col">
                  From
                  <input form="RangeForm" type="date" class="form-control mx-2" id="start_date" name="start_date" onchange="this.form.submit()" value="{{from}}"/>
                </div>
                <div class="col">
                  To
                  <input form="RangeForm" type="date" class="form-control mx-2" id="end_date" name="end_date"  onchange="this.form.submit()" value="{{to}}" />
                </div>

                  <input form="RangeForm" type="hidden" name="worker" id="worker" value="{{selected}}">
  
              </form>
            </div>
            
            <div class="card-body overflow-scroll">
              <table class="table table-hover table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Flat rate?</th>
                    <th>Hours worked</th>
                    <th>Hours driven</th>
                    <th>Miles driven</th>
                    <th>Extra expenses</th>
                  </tr>
                </thead>
                <tbody>
                  
                  {{#each entries as |entry|}}
                    
                      <tr class="position-relative">
                        <td>{{entry.Date}} </td>
                        <td><a href="/checkinout?id={{entry.JobId}}&worker={{entry.WorkerId}}">{{entry.Location}}</a></td>
                        <td>{{#if entry.FlatRate}} ✅ {{/if}}</td>
                        <td>{{entry.HoursWorked}}</td>
                        <td>{{entry.HoursDriven}}</td>
                        <td>{{entry.MilesDriven}}</td>
                        <td>${{entry.ExtraExpCents}}</td>
                      </tr>

                  {{/each}}

                  
                </tbody>
                <tfoot>
                  <tr class="table-group-divider" >
                    <td colspan="3"><b> Totals </b></td>
                    <td>{{totals.HoursWorked}}</td>
                    <td>{{totals.HoursDriven}}</td>
                    <td>{{totals.MilesDriven}}</td>
                    <td>${{totals.ExtraExpCents}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        
      {{/if}}
        
      
    </div>
  </div>

{{/inline}}
{{> base.hbs}}